 .u-section-1 {
  background-image: url("images/pexels-arthouse-studio-4338099.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 305px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 213px 19px 16px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 211px;
    margin-right: -27px;
    margin-bottom: 18px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 316px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 67px 0 171px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 39px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 957px;
}

.u-section-3 .u-text-1 {
  margin: 34px auto 0 56px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 822px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 17px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 17px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 17px auto 0;
}

.u-section-3 .u-text-9 {
  margin: 17px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 27px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 135px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 678px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 34px;
    padding: 9px 13px 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 34px;
    padding: 9px 13px 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 34px;
    padding: 9px 13px 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1767px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1558px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2276px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2566px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 854px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 822px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 17px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 311px;
  width: 270px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 17px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 17px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 678px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-1 {
    padding: 9px 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-2 {
    padding: 9px 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-3 {
    padding: 9px 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1558px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 720px;
}

.u-section-5 .u-text-1 {
  margin: 46px auto 0 22px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 638px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  height: 311px;
  width: 270px;
  margin: 37px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: -17px;
    margin-bottom: 18px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 739px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 660px;
}

.u-section-6 .u-text-1 {
  margin: 31px auto 0 22px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 31px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 563px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  height: 311px;
  width: 270px;
  margin: 37px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 27px 0 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 9px;
    margin-bottom: 24px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 592px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 13px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 631px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 31px;
  }
}