 .u-section-1 {
  background-image: url("images/pexels-arthouse-studio-4338099.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 305px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 213px 19px 16px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 231px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 147px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 259px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  border-style: none none solid;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-bottom: 25px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 291px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 40px;
}

.u-section-5 .u-btn-1 {
  font-family: 'EB Garamond';
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  margin-top: 2px;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  background-image: none;
  padding: 0;
}